<link rel="stylesheet" type="text/css" href="/css/HeaderArea.css" />

<div class="header-area header-area__unnamed">
  <img class="header-area__image8" src="/assets/e474a0171b0e6a9a49ee107efb844fb3.svg" alt="alt text" />
  <div class="header-area__wrapper4">
    <div class="header-area__box1">
      <h5 class="header-area__highlight2">Try it now</h5>
      <div class="header-area__wrapper5">
        <img class="header-area__wrapper51" src="/assets/black_and_white_mountain_silhouette.png" alt="alt text" />
      </div>
    </div>
    <div class="header-area__box2"><h5 class="header-area__highlight3">Book a demo</h5></div>
  </div>
</div>
