<link rel="stylesheet" type="text/css" href="/css/Larka.css" />

<div class="larka larka__unnamed">
  <div class="larka__unnamed1">
    <div class="larka__unnamed2">
      <h1 class="larka__hero_title1">Effortless Listings for Thrift Sellers</h1>
      <h2 class="larka__medium_title">List more, sell more with ThriftOps&#x27; seamless listing service.</h2>
    </div>
    <div class="larka__unnamed3">
      <div class="larka__content_box">
        <button class="larka__btn">Start Listing Now</button
        ><img class="larka__image1" src="/assets/red_top_hat_icon.png" alt="alt text" />
      </div>
      <h5 class="larka__highlight">Claim your first 20 Free listings!</h5>
    </div>
  </div>
  <img class="larka__image11" src="/assets/man_in_brown_coat_shopify_ebay_ad.png" alt="alt text" />
</div>
