.larka__unnamed {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px 18px;
}
@media (max-width: 991px) {
  .larka__unnamed {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 18px;
  }
}
.larka__unnamed1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 131px 0px;
  margin: 166px 0px 0px;
  width: 652px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .larka__unnamed1 {
    gap: 50px 0px;
    flex: 0 1 auto;
    order: 3;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.larka__unnamed2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
}
@media (max-width: 991px) {
  .larka__unnamed2 {
    align-items: start;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
}
.larka__hero_title1 {
  position: relative;
  width: auto;
  height: auto;
  font: 600 66px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 1399px) {
  .larka__hero_title1 {
    align-items: flex-start;
    font-size: 66px;
  }
}
@media (max-width: 767px) {
  .larka__hero_title1 {
    font-size: 60px;
  }
}
.larka__medium_title {
  position: relative;
  margin: 0px 58px 0px 5px;
  width: auto;
  height: auto;
  font: 400 24px/1.5 "Poppins", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 1399px) {
  .larka__medium_title {
    align-items: flex-start;
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .larka__medium_title {
    margin: 0px;
  }
}
@media (max-width: 767px) {
  .larka__medium_title {
    font-size: 20px;
  }
}
.larka__unnamed3 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 9px 0px;
  width: 398px;
}
@media (max-width: 575px) {
  .larka__unnamed3 {
    width: auto;
  }
}
@media (max-width: 479px) {
  .larka__unnamed3 {
    width: 320px;
  }
}
.larka__content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 398px;
  height: 64px;
}
@media (max-width: 479px) {
  .larka__content_box {
    width: 280px;
    height: auto;
  }
}
.larka__btn {
  position: absolute;
  top: 9px;
  right: 0px;
  bottom: 2px;
  left: 82px;
  display: flex;
  justify-content: center;
  width: 316px;
  height: 53px;
  font: 600 32px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: white;
  padding: 7px 36px 7px 36px;
  outline: 3px solid black;
  outline-offset: -3px;
  letter-spacing: -1.2px;
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .larka__btn {
    left: auto;
  }
}
@media (max-width: 479px) {
  .larka__btn {
    align-items: flex-start;
    width: 280px;
    font-size: 25px;
  }
}
@media (max-width: 383px) {
  .larka__btn {
    align-items: center;
    width: auto;
    font-size: 17px;
  }
}
.larka__image1 {
  position: absolute;
  top: 0px;
  right: 294px;
  bottom: 0px;
  left: 0px;
  width: 104px;
  height: 64px;
}
.larka__highlight {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0px 1px;
  width: 396px;
  height: 26px;
  font: 400 17.5238075256px/1.48 "Poppins", Helvetica, Arial, serif;
  color: black;
  text-align: right;
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .larka__highlight {
    width: auto;
  }
}
@media (max-width: 479px) {
  .larka__highlight {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 55px 1px 0px;
    height: auto;
    text-align: left;
    font-size: 17.5238075256px;
  }
}
@media (max-width: 383px) {
  .larka__highlight {
    width: auto;
  }
}
.larka__image11 {
  position: relative;
  width: 642px;
  min-width: 0px;
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .larka__image11 {
    width: auto;
    max-width: 100%;
  }
}
@media (max-width: 1399px) {
  .larka__image11 {
    width: auto;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .larka__image11 {
    flex: 0 1 auto;
    order: 1;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}