.thriftops-landing-page.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow: hidden;
}
.thriftops-landing-page .flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.thriftops-landing-page .info {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  font: 500 12px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #fb2d2d;
  padding: 6px 16px 6px 16px;
}
.thriftops-landing-page .component {
  position: relative;
  margin: 30px 0px 0px;
  width: 86.77%;
}
.thriftops-landing-page .component1 {
  position: relative;
  margin: 6px 0px 0px;
  width: 86.77%;
}
.thriftops-landing-page .image {
  position: relative;
  margin: 70px 0px 0px;
  width: 52.51%;
  padding: 15px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image {
    display: none;
  }
}
.thriftops-landing-page .image1 {
  position: relative;
  display: none;
  margin: 70px 0px 0px;
  width: 52.51%;
  padding: 15px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image1 {
    display: flex;
    width: auto;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .thriftops-landing-page .image1 {
    margin: 50px 0px 0px;
  }
}
.thriftops-landing-page .flex_col1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 98px 0px 0px;
  width: 88.29%;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_col1 {
    align-items: start;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }
}
.thriftops-landing-page .flex_row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 100%;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_row {
    flex-direction: column;
    gap: 8px 10px;
  }
}
.thriftops-landing-page .image5 {
  position: relative;
  width: 704px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image5 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .flex_col2 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  width: 587px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_col2 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .hero_title1 {
  position: relative;
  font: 700 47.5897445679px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -1.2px;
}
@media (max-width: 767px) {
  .thriftops-landing-page .hero_title1 {
    align-items: flex-start;
    font-size: 40px;
  }
}
.thriftops-landing-page .paragraph {
  position: relative;
  font: 500 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: black;
}
@media (max-width: 767px) {
  .thriftops-landing-page .paragraph {
    align-items: flex-start;
    font-size: 12px;
  }
}
.thriftops-landing-page .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 13px;
  width: 152px;
  max-width: 100%;
  background-color: #fb2d2d;
  border-radius: 8px 8px 8px 8px;
  padding: 11px 20px 11px 23px;
  box-shadow: -1px 3px 3.5999999046px 0px rgba(0, 0, 0, 0.3294117647);
}
.thriftops-landing-page .btn_icon {
  position: relative;
  width: 18px;
  min-width: 0px;
  height: 20px;
}
.thriftops-landing-page .btn_text {
  position: relative;
  margin: 2px 0px 0px;
  min-width: 0px;
  font: 600 11.7587633133px/1.53 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-shadow: 0px 0px 6.3000001907px rgba(110, 0, 0, 0.4);
}
.thriftops-landing-page .flex_row1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 9px;
  margin: 44px 0px 0px;
  width: 92.06%;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_row1 {
    flex-direction: column;
    gap: 8px 9px;
  }
}
.thriftops-landing-page .flex_col3 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 590px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_col3 {
    flex: 0 1 auto;
    order: 3;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .hero_title11 {
  position: relative;
  font: 700 47.5897445679px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
}
.thriftops-landing-page .paragraph1 {
  position: relative;
  margin: 21px 0px 0px;
  width: 72.54%;
  font: 500 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: black;
}
.thriftops-landing-page .btn1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 13px;
  margin: 20px 0px 0px;
  width: 152px;
  max-width: 100%;
  background-color: #fb2d2d;
  border-radius: 8px 8px 8px 8px;
  padding: 11px 20px 11px 23px;
  box-shadow: -1px 3px 3.5999999046px 0px rgba(0, 0, 0, 0.3294117647);
}
.thriftops-landing-page .image6 {
  position: relative;
  width: 630px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image6 {
    flex: 0 1 auto;
    order: 1;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .flex_row2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 53px 0px 0px;
  width: 72.28%;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_row2 {
    flex-direction: column;
    gap: 8px 10px;
  }
}
.thriftops-landing-page .image7 {
  position: relative;
  width: 373px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image7 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .flex_col4 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  width: 549px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_col4 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .hero_title12 {
  position: relative;
  font: 700 47.5897445679px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -1.4px;
}
.thriftops-landing-page .paragraph2 {
  position: relative;
  font: 500 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: black;
}
.thriftops-landing-page .btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 13px;
  width: 152px;
  max-width: 100%;
  background-color: #fb2d2d;
  border-radius: 8px 8px 8px 8px;
  padding: 11px 30px 11px 34px;
  box-shadow: -1px 3px 3.5999999046px 0px rgba(0, 0, 0, 0.3294117647);
}
.thriftops-landing-page .btn_icon1 {
  position: relative;
  width: 18px;
  min-width: 0px;
  height: 18px;
}
.thriftops-landing-page .btn_text1 {
  position: relative;
  min-width: 0px;
  font: 600 11.7587633133px/1.53 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-shadow: 0px 0px 6.3000001907px rgba(110, 0, 0, 0.4);
}
.thriftops-landing-page .flex_row3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 35px 0px 0px;
  width: 93.41%;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_row3 {
    flex-direction: column;
    gap: 8px 10px;
  }
}
.thriftops-landing-page .flex_col5 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  width: 497px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_col5 {
    flex: 0 1 auto;
    order: 3;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .hero_title13 {
  position: relative;
  font: 700 47.5897445679px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -2.01px;
}
.thriftops-landing-page .image9 {
  position: relative;
  width: 706px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image9 {
    flex: 0 1 auto;
    order: 1;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .flex_row4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 44px 0px 0px;
  width: 88.76%;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_row4 {
    flex-direction: column;
    gap: 8px 10px;
  }
}
.thriftops-landing-page .image10 {
  position: relative;
  width: 633px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image10 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .flex_col6 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  width: 508px;
  min-width: 0px;
}
@media (max-width: 991px) {
  .thriftops-landing-page .flex_col6 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .hero_title14 {
  position: relative;
  font: 700 47.5897445679px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -1.1px;
}
.thriftops-landing-page .paragraph3 {
  position: relative;
  margin: 0px 15px 0px 0px;
  font: 500 14px/1.5 "Poppins", Helvetica, Arial, serif;
  color: black;
}
.thriftops-landing-page .image12 {
  position: relative;
  margin: 151px 0px 0px;
  width: 59.33%;
}
.thriftops-landing-page .flex_col7 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 39px 0px;
  margin: 68px 0px 0px;
  width: 78.04%;
}
.thriftops-landing-page .image13 {
  position: relative;
  width: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  .thriftops-landing-page .image13 {
    width: 732px;
  }
}
.thriftops-landing-page .flex_row5 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 0px auto;
  width: 91.36%;
}
@media (max-width: 1199px) {
  .thriftops-landing-page .flex_row5 {
    flex-direction: column;
    align-items: center;
    gap: 8px 10px;
  }
}
.thriftops-landing-page .flex_col8 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 23px 0px;
  width: 645px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .thriftops-landing-page .flex_col8 {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .flex_row6 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
}
.thriftops-landing-page .flex_col9 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
  width: 297px;
  min-width: 0px;
}
.thriftops-landing-page .highlight1_box {
  position: relative;
}
.thriftops-landing-page .highlight1 {
  font: 400 17.2350234985px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
}
.thriftops-landing-page .highlight1_span0 {
  font: 1em/1.2 "Proxima Nova", Helvetica, Arial, serif;
}
.thriftops-landing-page .highlight1_span1 {
  font: 600 1em/1.2 "Proxima Nova", Helvetica, Arial, serif;
}
.thriftops-landing-page .rect2 {
  position: relative;
  min-height: 35px;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  outline: 1px solid black;
  outline-offset: -1px;
  box-shadow: 0px 2px 3.5px 0px rgba(0, 0, 0, 0.247);
}
.thriftops-landing-page .flex_col10 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
  margin: 0px 0px 3px;
  width: 297px;
  min-width: 0px;
}
.thriftops-landing-page .flex_col11 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 11px 0px;
  width: 297px;
  min-width: 0px;
}
.thriftops-landing-page .flex_col12 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
  margin: 39px 0px 25px;
  width: 356px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .thriftops-landing-page .flex_col12 {
    align-items: end;
    -moz-column-gap: 0px;
    column-gap: 0px;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.thriftops-landing-page .title {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
  font: 600 32px/1.2 "Proxima Nova", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  background: var(--src) center center/100% 100% no-repeat;
  padding: 19px 44px 9px 44px;
  letter-spacing: -1px;
}
@media (max-width: 1199px) {
  .thriftops-landing-page .title {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .thriftops-landing-page .title {
    align-items: flex-start;
    padding: 19px 32px 9px 44px;
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .thriftops-landing-page .title {
    font-size: 17px;
  }
}
@media (max-width: 575px) {
  .thriftops-landing-page .title {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  .thriftops-landing-page .title {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding: 9px 17px 9px 44px;
    font-size: 12px;
  }
}
.thriftops-landing-page .info2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font: 300 12px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #1e1e1e;
  text-align: right;
}
@media (max-width: 767px) {
  .thriftops-landing-page .info2 {
    display: none;
  }
}
.thriftops-landing-page .flex_col13 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 71px 0px;
  margin: 287px 0px 20px;
  width: 84.33%;
}
.thriftops-landing-page .image11 {
  position: relative;
  width: 100px;
  height: 64px;
}
.thriftops-landing-page .text_box {
  position: relative;
  min-width: 0px;
}
.thriftops-landing-page .text {
  font: 400 13.0509347916px/1.2 "Helvetica", Helvetica, Arial, serif;
  color: #838383;
}
.thriftops-landing-page .text_span0 {
  font: 1em/1.2 "Helvetica", Helvetica, Arial, serif;
}
.thriftops-landing-page .text_span1 {
  font: 500 1em/1.53 "Poppins", Helvetica, Arial, serif;
}
.thriftops-landing-page .flex_row7 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 1017px;
  min-width: 0px;
}
.thriftops-landing-page .flex_row8 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 269px;
  min-width: 0px;
}
.thriftops-landing-page .text1 {
  position: relative;
  min-width: 0px;
  font: 500 13.0509347916px/1.53 "Poppins", Helvetica, Arial, serif;
  color: #838383;
}
.thriftops-landing-page .flex_row9 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 392px;
  min-width: 0px;
}