/* Second Container */
.mainContainer{
    margin: 0 calc(5vw + 10px) 0 calc(5vw + 10px);
}

.heroContainer2{
    margin-top: 60px;
    margin-bottom: 100px;
}

.space{
    /* margin-bottom: 500px; */
    font-size: 25px;
    font-weight:200;
    visibility: hidden;
}

@media screen and (max-width: 700px) {
    .heroInfolist{
        font-size: 25px;
        font-weight:200;
    }
    .heroContainer2{
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .heroShadow, .heroShirt{
        width: 0;
        height: 0;

    }
}

@media screen and (min-width: 701px) and (max-width: 992px) {
    .heroInfolist{
        font-size: 35px;
        font-weight:200;
    }
    .heroContainer2{
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .heroShadow, .heroShirt{
        width: 0;
        height: 0;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .heroContainer2{
        margin-top: 100px;
        margin-bottom: 250px;
    }
    .heroInfolist{
        font-size: 24px;
        font-weight:200;
        margin-top: 40px;
    }
    .shirtImgs{
        position: relative;
    }
    .heroshirt_shadow{
        position: absolute;
        transform: rotate(5deg);
        animation: rotation 2s infinite linear;
        transform-origin: top center;
        width: 175px;
        height: 360px;
    }
}

@media screen and (min-width: 1201px) {
    .heroContainer2{
        margin-top: 100px;
        margin-bottom: 250px;
    }
    .heroInfolist{
        font-size: calc(27px + 0.2vw);
        font-weight:200;
        margin-top: 40px;
    }
    .shirtImgs{
        position: relative;
    }
    .heroshirt_shadow{
        position: absolute;
        transform: rotate(5deg);
        animation: rotation 2s infinite linear;
        transform-origin: top center;
    }

}

@media screen and (min-width: 1600px){
    .heroContainer2{
        margin-top: 210px;
        margin-bottom: 300px;
    }

    .heroInfolist{
        font-size: calc(30px + 0.52vw);
        font-weight:200;
        margin-top: 60px;
    }
    .shirtImgs{
        position: relative;
    }
    .heroshirt_shadow{
        position: absolute;
        transform: rotate(5deg);
        animation: rotation 2s infinite linear;
        transform-origin: top center;
        width: 271px;
        height: 555px;  

    }
}

@media screen and (min-width: 1800px){
    .heroContainer2{
        margin-top: 250px;
        margin-bottom: 300px;
    }

    .heroInfolist{
        font-size: 42px;
        font-weight:200;
        margin-top: 60px;
    }
    .shirtImgs{
        position: relative;
    }
    .heroshirt_shadow{
        position: absolute;
        transform: rotate(5deg);
        animation: rotation 2s infinite linear;
        transform-origin: top center;
        width: 271px;
        height: 555px;  
    }
}

/* shirt animation */
/* > 992 */
@keyframes rotation {
    50% {
      transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}


/* Bullet points animation */

.heroInfolist li {
    animation: fade 5s forwards;
    opacity: 0;
}
.heroInfolist li:nth-child(2) {
	animation-delay: 1s;
} 
.heroInfolist li:nth-child(3) {
	animation-delay: 2s;
}
.heroInfolist li:nth-child(4) {
	animation-delay: 3s;
}
.heroInfolist li:nth-child(5) {
	animation-delay: 4s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
