.mainContainer{
    margin: 0 calc(5vw + 10px) 0 calc(5vw + 10px);
    margin-top: 180px;
    margin-bottom: 180px;
    position: relative;
}
  
.mainHeading{
    font-size: 42px;
    max-width: 400px;
    src: url('/fonts/ProximaNovaMedium.otf');
    font-family: 'Proxima Nova';
    line-height: 50px;
}

.rectangle{
    height: 16px;
    width: 260px;
    background-color: #4DF6CE;
    position: absolute;
    z-index: -10;
    top: 80px;
}
  
  /* Toggle */
.accordiansection{
    font-size: 16px;
    /* max-width: 900px ; */
    max-width: 850px;
    padding-right: 40px;
    
}
  
.wrap{
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.symbols{
    margin: 0;
    padding: 0;
    color: #4DF6CE;
}
    
.heading{
    font-size: 16px;
    font-weight: 600;
    width: 850px;
    /* width: 900px; */
    border-bottom: 1.5px solid #000000;
}
  
.text{
    font-size: 16px;
    font-weight: 300;
    transition: all 2s ease-in-out;
    
}

.panel{
    transition: all 2s ease-in-out;

}

.laptopImg{
    max-width: 100%;
}

/* mobile */
@media screen and (max-width: 992px) {
    .mainContainer{
        margin: 0 calc(5vw + 10px) 0 calc(5vw + 10px);
        display: block;  
    }
    .text{
        font-size: 12px;
        font-weight: 300;
        /* transition: all .5s ease-in-out; 
        -webkit-transition: all .5s ease-in-out; */
    }
    .heading{
        font-size: 15px;
    }   
    .accordiansection{
        font-size: 16px;
        /* max-width: 900px ; */
        max-width: 850px;
        padding-right: 0px;
        
    } 
}

/* > 1600 */
@media screen and (min-width: 1600px) {
    
    .mainHeading{
        font-size: 52px;
        max-width: 500px;
        line-height: 60px;
    }

    .heading{
        font-size: 25px;
        font-weight: 600;
        min-width: 500px;
        border-bottom: 1.5px solid #000000;
    }
    
    .wrap{
        margin-top: calc(5px + 0.5vw) ;
       
    }

    .symbols{
        font-size: 30px;
    }
   
    .rectangle{
        height: 22px;
        width: 315px;
        background-color: #4DF6CE;
        position: absolute;
        z-index: -10;
        top: 95px;
    }
    
    .text{
        font-size: 18px;
       
    }

    .laptopImg{
        max-width: 100%;
        width:925px;
        height: 702px;
    }
    

}
