.hoverIcon:hover {
    transform: scale(1.5);
}

.footerContainer{
    margin:0 80px;
}

@media screen and (min-width: 1700px) {
    .footerLogo{
        width: 120px ;
        height:120px;
    }

}
