.hero{
    /* padding: 20px; */
    min-width: 1030;
    max-width: 1920;
    margin: 0 calc(5vw + 10px) 0 calc(5vw + 10px);
}

.heroHeader{
  font-size: calc(16px * 1.6); /* Increase font size by 20% */
  font-family: 'Proxima';
}

.heroDesc{
    font-size: 22px;
    font-family: 'Poppins';
} 

/* All Images */

.heroRack ,.heroRailings, .heroTV, .heroStartShoes, .heroVector, .heroMobileRack{
    visibility: hidden;
    width: 0px;
    height: 0px;
}


@media screen and (max-width: 1015px) {
    .heroText{
        visibility: visible;
    }
    .heroHeader{
    font-size: calc(38px * 1.6);
    /* src: url('/fonts/ProximaNovaMedium.otf');
    font-family: 'Proxima Nova'; */
  }
    .heroDesc{
        font-size:12px;
    }
    .heroMobileRack{
        visibility: visible;
        width: 329px;
        height: 410px;
    } 
    .heroRack, .heroRailings, .heroStartShoes,.heroVector{
        visibility: hidden;
        animation: none;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.desktopImgs{
    position: relative;
    margin-left:0px ;
}
@media screen and (min-width: 1016px) and (max-width: 1400px) {
    .heroText{
        margin: 180px 0 120px 0; 
        max-width: 480px;
        min-width: 318px;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s;  
    }
    .heroHeader{
        font-size: 38px;
    }
    .heroDesc{
        font-size:16px;
    }
    .heroMobileRack{
        visibility: hidden;
        width: 0px;
        height: 0px;
    } 
    .heroRack{
        visibility: visible;
        position: absolute;
        /* left: 650px;
        top: 120px; */
        width: 377px;
        height: 519px;
        max-width: 100%;

    }
    .heroRailings{
        visibility: visible;
        position: absolute;
        /* left: 890px;
        top: 110px; */
        left: 230px;
        width: 166px;
        height: 563px;
        z-index: 1;
        max-width: 100%;
    }
    .heroTV{
        visibility: visible;
        position: absolute;
        /* left:930px;
        top: 500px; */
        left:260px;
        top: 320px;
        width: 195px;
        height: 238px;
        z-index: 2;

    }
    .heroVector{
        position: absolute;
        /* left: 1000px;
        top: 520px; */
        left: 330px;
        top: 360px;
        width: 75px;
        height: 57px;
        z-index: 3;
        visibility: visible;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s; 

    }
    .heroStartShoes{
        visibility: visible;
        position: absolute;
        left: -600px;
        top: 75px;
        width: 161px;
        height: 112px;
        animation: translation 1s ease-in forwards ; 

    }
    @keyframes translation {
        100% {
            transform: translateX(810px);
        }
    } 
    
    
}



@media screen and (min-width: 1401px)  {

    .heroText{
        margin: 200px 0 180px 0; 
        max-width: 550px;
        min-width: 500px;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s;  
    }
  .heroHeader{
    font-size: clamp(42px * 1.6, calc(36.5px * 1.6 + 0.4vw) ,56px * 1.6)
  }
    .heroDesc{
        /* font-size:16px; */
        font-size: clamp(16px, 10px + 0.4vw ,22px)
    }
    .heroMobileRack{
        visibility: hidden;
        width: 0px;
        height: 0px;
    } 
    .desktopImgs{
        position: relative;
        margin-left: 100px;
    }
    .heroRack{
        visibility: visible;
        position: absolute;
       
        width: 456px;
        height: 627px;

    }
    .heroRailings{
        visibility: visible;
        position: absolute;
        left: 290px;
        top: -20px;
        width: 200px;
        height: 680px;
        z-index: 1;
    }
    .heroTV{
        visibility: visible;
        position: absolute;
        left: 320px;
        top: 400px;
        width: 236px;
        height: 288px;
        z-index: 2;

    }
    .heroVector{
        position: absolute;
        left: 400px;
        top: 450px;
        width: 90px;
        height: 69px;
        z-index: 3;
        visibility: visible;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s; 

    }
    .heroStartShoes{
        visibility: visible;
        position: absolute;
        left: -650px;
        top: 90px;
        width: 195px;
        height: 136px;
        animation: translation 1s ease-in forwards ; 

    }
    @keyframes translation {
        100% {
            transform: translateX(910px);
        }
    } 

}

@media screen and (min-width: 1600px)  {
    .heroText{
        margin: 240px 0 230px 0; 
        max-width: 650px;
        min-width: 550px;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s; 
       
    }
  .heroHeader{
    font-size: clamp(42px * 1.6, calc(38.5px * 1.6 + 0.4vw) ,56px * 1.6)
  }
    .heroDesc{
        font-size: clamp(16px, 12px + 0.4vw ,22px)
    }
    .heroMobileRack{
        visibility: hidden;
        width: 0px;
        height: 0px;
    } 
    .desktopImgs{
        position: relative;
        margin-left:0px ;
    }
    .heroRack{
        visibility: visible;
        position: absolute;
        width: 569px;
        height: 783px;

    }
    .heroRailings{
        visibility: visible;
        position: absolute;
        left: 360px;
        /* top: 110px; */
        width: 250px;
        height: 849px;
        z-index: 1;
    }
    .heroTV{
        visibility: visible;
        position: absolute;
        left: 420px;
        top: 500px;
        width: 295px;
        height: 359px;
        z-index: 2;

    }
    .heroVector{
        position: absolute;
        left: 520px;
        top: 550px;
        width: 113px;
        height: 86px;
        z-index: 3;
        visibility: visible;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s; 

    }
    .heroStartShoes{
        visibility: visible;
        position: absolute;
        left: -650px;
        top: 110px;
        width: 243px;
        height: 169px;
        animation: translation 1s ease-in forwards ; 
    }
    @keyframes translation {
        100% {
            transform: translateX(970px);
        }
    } 


}

@media screen and (min-width: 1900px)  {
    .heroText{
        margin: 280px 0 180px 0; 
        max-width: 750px;
        min-width: 550px;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s; 
       
    }
  .heroHeader{
    font-size: clamp(55px * 1.6, calc(47px * 1.6 + 0.4vw) ,70px * 1.6);
  }
    .heroDesc{
        font-size: clamp(24px, 18px + 0.4vw ,28px);
    }
    .heroMobileRack{
        visibility: hidden;
        width: 0px;
        height: 0px;
    } 
    .heroRack{
        visibility: visible;
        position: absolute;
        width: 672px;
        height: 924px;

    }
    .heroRailings{
        visibility: visible;
        position: absolute;
        left: 423px;
        width: 295px;
        height: 1003px;
        z-index: 1;
    }
    .heroTV{
        visibility: visible;
        position: absolute;
        left: 480px;
        top: 580px;
        width: 348px;
        height: 424px;
        z-index: 2;

    }
    .heroVector{
        position: absolute;
        left: 600px;
        top: 640px;
        width: 133px;
        height: 102px;
        z-index: 3;
        visibility: visible;
        opacity: 0;
        animation: fade-in 1s ease-in forwards ;
        animation-delay: 1.5s; 

    }
    .heroStartShoes{
        visibility: visible;
        position: absolute;
        left: -750px;
        top: 140px;
        width: 288px;
        height: 200px;
        animation: translation 1s ease-in forwards ; 
    }
    @keyframes translation {
        100% {
            transform: translateX(1120px);
        }
    } 


}

/* Text and vector animation */
@keyframes appear {
    100% {
        visibility: visible;
    } 
}

@keyframes fade-in {
   
    100% {
        opacity: 1;
    } 
}
