.navContainer{
    margin:0 40px;
}

/* overriding bootstrap btn */
.navbtn{
    border: 1.5px solid #FF0A0A;
    border-radius: 25px;
    padding: 9px 16px;
    font-size: 14px;
    background-color: white; 
    color: black;
}

.navbtn:hover {
    background-color: #FF0A0A;
}

.link{
    color: black;
    text-decoration: none;
    /* scroll-behavior: smooth; */
}

.link:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* // for desktop */
.desktoplogo{
    display: block !important;
}

.mobilelogo{
    display:none !important;
}

@media screen and (min-width: 1600px) {
    .navbtn{
        font-size: 19px;
    }
    .desktoplogo{
        width:110px ;
        height: 110px;
    }
}

/* for mobile */
@media screen and (max-width: 600px) {
    .desktoplogo{
        display: none !important;
    }
    .mobilelogo{
        display:block !important;
    } 
    .navContainer{
        margin:0 20px;
    } 
}

